body {
    margin: 0;
    font-family: arial;
}

header, footer {
    width: 100%;
    background-color: black;
    display: inline-block;    
}

footer p {
    color: white;
    text-align: center;
    font-family: arial;
}